<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>Sorry!</strong>
                    </li>
                </ul>
                <ul>
                    <li>
                        <!-- djlint:off --><a class="navButtonLink" href="/"><button class="contrast">Try the Homepage</button></a><!-- djlint:on -->
                    </li>
                </ul>
            </nav>
            <h1>The page you were trying to find does not exist.</h1>
            <div>Please try another page.</div>
        </div>
    </body>
</html>
