<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    </head>
    <body>
        <!-- djlint:off -->
                <div class="container">
            
                    <nav>
                        <ul>
                            <li>
                                <strong>Sorry!</strong>
                        </li>
                </ul>
                <ul>
                    <li>
                        <a class="navButtonLink"
                           href="/">
                            <button class="contrast">Try the Homepage</button>
                        </a>
                    </li>
                </ul>
            </nav>
            <h1>This page is currently having an issue</h1>
            <div>
                Please try another page or check back in a bit.
            </div>

        </div>
<!-- djlint:on -->
</body>
</html>
